#lastLetter {
    height: 65px; width: 70px;
    background-color: #ddd;
    margin-left: 15px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -50px;
}

#lastLetter p {
    font-size: 40px;
    padding-right: 20px;
    color: #000;
}