@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c3c3c;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

#main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#app {
    height: 100%; width: 100%;
}

#nonForc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}