#popup {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.8);
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup-window {
    background-color: #2c2c2c;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    height: 200px; width: 700px;
}


.popup-window h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    margin-top: 18px;
}

.popup-window .youLose {
    color: #f55;
}

.popup-window .youWon {
    color: #5f5;
}